.logoImg {
    width: 110px;
}

.aboutContainer {
    background: url(../images/resource/img-1.jpg) no-repeat center center;
    background-size: cover;
    padding: 0px !important;
}

.insideAboutContainer {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.650);
}

.insideAboutContainer p {
    color: white;
    text-align: center;
    height: 268px;
    padding: 13px;
}

.serviceContainer {
    background: url(../images/resource/img-2.jpg) no-repeat center center;
    background-size: cover;
    padding: 0px !important;
}

.insideServiceContainer {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.650);
}

.insideServiceContainer p {
    color: white;
    text-align: center;
    height: 268px;
    padding: 13px;
}

.aboutText {
    width: 100%;
    text-align: center;
}

.toggle-btn {
    width: 110px;
    height: 110px;
    background-color: #004AAC !important;
}

.first-title {
    color: #ff2600;
}

.second-title {
    color: #aaff00;
}

.third-title {
    color: #ffaf19;
}

.navbar-content {
    padding-top: 15px;
}

.quote {
    padding-top: 27px;
    padding-right: 20px;
    color: white;
}

.quote-form {
    font-size: 17px !important;
    border-radius: 5px;
    border: 1px solid #333;
}

.submitButton{
    border-radius: 5px;
    background-color: #004AAC !important;
}